<div class="container" style="margin-top: 20px;">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Cadastre sua ONG</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control input-sm" placeholder="Nome da ONG" ng-model="vm.user.name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email" ng-model="vm.user.email" required>
                        </div>
                        <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Senha" ng-model="vm.user.password">
                        </div>
                        <div class="form-group">
                            <input type="text" name="category" id="category" class="form-control input-sm" placeholder="Categoria" ng-model="vm.user.category"
                                required></required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Telefone" ng-model="vm.user.phone"
                                required></required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cnpj" id="cnpj" class="form-control input-sm" placeholder="CNPJ" ng-model="vm.user.cnpj"
                                required></required>
                        </div>
                        <div>                            
                            <label for="">Endereço</label>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8">
                                <div class="form-group">
                                    <input type="text" name="street" id="street" class="form-control input-sm" placeholder="Rua" ng-model="vm.user.address.street">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="number" id="number" class="form-control input-sm" placeholder="Numero" ng-model="vm.user.address.number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="neighborhood" id="neighborhood" class="form-control input-sm" placeholder="Bairro" ng-model="vm.user.address.neighborhood"
                                required></required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="cep" id="cep" class="form-control input-sm" placeholder="CEP" ng-model="vm.user.address.cep"
                                required></required>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-sm-7 col-md-7">
                                <div class="form-group">
                                    <input type="text" name="city" id="city" class="form-control input-sm" placeholder="Cidade" ng-model="vm.user.address.city"
                                required>
                                </div>
                            </div>
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <div class="form-group">
                                <select name="state" id="state" ng-model="vm.user.address.state" ng-options="uf as uf for uf in vm.ufs " class="form-control
                 input-sm" required>
                  <option value="">Selecione uma UF...</option>
                  </select>
                                </div>
                            </div>
                        </div>
                </div>
                <input type="submit" value="Register" class="btn btn-info btn-block" ng-click="vm.createCompany();">
                </form>
            </div>
        </div>
    </div>
</div>
</div>